<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Anketa</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
<div id="container">
    <h1>Co pijete nejraději?</h1>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.hlas() }}
        <input type="submit" value="Hlasovat">
    </form>
</div>
</body>
</html>