<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Anketa</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
    {{ vysledky }} <br>
<a href="/">Zpět</a>
</body>
</html>