<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="utf-8">
</head>
<body>

{% if not prezdivka %}

<h1>Přihlaš se:</h1>

{% else %}

<h1>Vítej</h1>

Je přihlášen: {{ prezdivka }}

<br>

<a href="/zprava">Vstup do chatu</a>

{% endif %}

{% if not prezdivka %}

<form method=POST>
    {{ form.hidden_tag() }}
    {{ form.prezdivka }}
    {{ form.odeslat }}
</form>

{% endif %}

{% if prezdivka %}

<br>

<a href="/odhlasit">Odhlásit</a>

{% endif %}
</body>
</html> 