<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <meta charset="utf-8">
</head>

<body>
    <form method=POST>
        {{ form.hidden_tag() }}
        {{ form.obsah }}
        {{ form.odeslat }}
    </form>

    <a href="/odhlasit">Odhlásit</a>
    <div>
    {% for zprava in zpravy  %}
    <div>
        {{ zprava['prezdivka'] }} napsal:<br>
        {{ zprava['obsah'] }} <br>
    <div>
    {% endfor %}
    </div>
</body>

</html>
