<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Poznámkovník</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
<h1>Vlož poznámku</h1>
{#Všimněte si, že jsme smazali proti minulému stavu neuvádíme acrion#}
<form method="POST">
    {{ form.csrf_token }}
    {{ form.poznamka() }}
    <input type="submit" value="Uložit">
</form>
<a href="/poznamky">Moje poznámky</a>
</body>
</html>