#container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

/* Horizontální a vertikální centrování */
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

form {
    background-color: lightgray;
    padding: 20px;
}


#graf {
    text-align: center;
    background-color: lightgray;
}

.sloupec {
    display: inline-block;
    width: 30px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    min-height: 150px;
}

#sloupec1 {
    height: 220px;
    background-color: red;
}

#sloupec2 {
    height: 200px;
    background-color: green;
}

#sloupec3 {
    height: 160px;
    background-color: yellow
}
