<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Poznámkovník</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
<h1>Poznámky</h1>
<table>
    <tr>
        <th>poznámka</th>
        <th>vloženo</th>
        <th>vloženo</th>
    </tr>
    {% for i in poznamky %}
        <tr>
            <td><a href="/smaz/{{ i[0] }}">Smazat</a> </td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<a href="/">Vložit poznámku</a>
</body>
</html>
