<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="http://intercoolerjs.org/release/intercooler-1.2.2.js"></script> 
</head>

<body>
    <form method=POST>
        {{ form.hidden_tag() }}
        {{ form.obsah }}
         <input ic-post-to="/chat" type="submit"> 
    </form>

    <a href="/odhlasit">Odhlásit</a>
    <div ic-src="/zpravy" ic-poll="0.5s">
        <div id="zpravy">
            {% for zprava in zpravy  %}
            <div>
                {{ zprava['prezdivka'] }} napsal:<br>
                {{ zprava['obsah'] }} <br>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
