<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <!-- Zde přikládám definici vzhledu v externím souboru -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
    <h1>Přísloví dne</h1>
    <!-- Zde vkládám přísloví -->
    <p>{{ text }}</p>
</body>
</html>