<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="http://intercoolerjs.org/release/intercooler-1.2.2.js"></script> 
    <script>
        function pageScroll() {
            window.scrollBy(0, 50); // horizontal and vertical scroll increments
            scrolldelay = setTimeout('pageScroll()', 100); // scrolls every 100 milliseconds
        }
    </script>
    <style>
        #footer {
            position: fixed;
            height: 50px;
            background-color: red;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        body {
            margin-bottom: 50px;
        }
    </style>
</head>

<body onLoad="pageScroll()">
    <div ic-src="/zpravy" ic-poll="0.5s">
        <div id="zpravy">
            {% for zprava in zpravy  %}
            <div>
                {{ zprava['prezdivka'] }} napsal:<br>
                {{ zprava['obsah'] }} <br>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer">
    <form method=POST>
        {{ form.hidden_tag() }}
        {{ form.obsah }}
         <input ic-post-to="/chat" type="submit"> 
    </form>

    <a href="/odhlasit">Odhlásit</a>
    </div>
</body>

</html>
